<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alpine JS Components Course</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.12.3/dist/cdn.min.js"
      defer
    ></script>
    <script src="app.js"></script>
  </head>
  <body class="bg-gray-100 p-8">
    <!-- Accordion -->
    <div
      x-data="{
      items: [
        {
          title: 'Item 1',
          body: 'Body 1'
        },
        {
          title: 'Item 2',
          body: 'Body 2'
        },
        {
          title: 'Item 3',
          body: 'Body 3'
        },
        {
          title: 'Item 4',
          body: 'Body 4'
        },
        {
          title: 'Item 5',
          body: 'Body 5'
        }
      ],
      activeItem: null,
      selectItem(item){
        this.activeItem == item ? this.activeItem = null : this.activeItem = item
      }
    }"
    >
      <template x-for="item in items">
        <div>
          <div
            @click="selectItem(item)"
            class="flex justify-between items-center cursor-pointer font-semibold hover:text-blue-400 py-1 px-2 bg-gray-00 border"
          >
            <span x-text="item.title"></span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-4 h-4 transition-all"
              :class="{
                'rotate-90': activeItem == item
              }"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M8.25 4.5l7.5 7.5-7.5 7.5"
              />
            </svg>
          </div>
          <div
            x-show="activeItem == item"
            x-html="item.body"
            class="p-2 bg-white"
          ></div>
        </div>
      </template>
    </div>
    <!-- Notification -->
    <!-- Popover -->
  </body>
</html>
